{% extends "contabilidad_loslirios/main.html" %}
{% load static %}
{% block titulo %}Cargar Movimiento - Los Lirios SA{% endblock titulo %}
{% block contenido %}
        {# Mensajes de Django (Toastify-js los leerá y los mostrará) #}
        {% if messages %}
            <ul class="messages mb-4 hidden"> 
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="flex items-center mb-6">
            <a href="{% url 'contabilidad' %}" class="text-blue-600 hover:text-blue-800 flex items-center">
                <i class="fas fa-arrow-left mr-2"></i> Volver a Administracion
            </a>
            <h1 class="text-2xl font-semibold text-gray-800 ml-4">Cargar Ingreso</h1>
        </div>

        <form method="POST" class="bg-white p-8 rounded-lg shadow-md" id="movimiento-form">
            {% csrf_token %} 

            {% if errores_carga %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <strong class="font-bold">¡Error al guardar!</strong>
                    <span class="block sm:inline">Por favor, corrija los siguientes errores:</span>
                    <ul class="mt-2 list-disc list-inside">
                        {% for field, errors in errores_carga.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                        {% if formulario.non_field_errors %}
                            {% for error in formulario.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

                <div class="flex flex-col md:flex-row gap-6">
                    <fieldset class="border p-4 rounded-md flex-1">
                        {# Campo Fecha #}
                        <div>
                            <label for="{{ formulario.fecha.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.fecha.label }}</label>
                            {{ formulario.fecha }}
                            {% if formulario.fecha.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.fecha.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Origen #}
                        <div>
                            <label for="{{ formulario.origen.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.origen.label }}</label>
                            {{ formulario.origen }}
                            {% if formulario.origen.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.origen.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Finca #}
                        <div>
                            <label for="{{ formulario.finca.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.finca.label }}</label>
                            {{ formulario.finca }}
                            {% if formulario.finca.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.finca.errors }}</p>
                            {% endif %}
                        </div>
                    </fieldset>

                    <fieldset class="border p-4 rounded-md flex-1">
                        {# Campo Tipo #}
                        <div>
                            <label for="{{ formulario.tipo.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.tipo.label }}</label>
                            {{ formulario.tipo }}
                            {% if formulario.tipo.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.tipo.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Clasificacion #}
                        <div>
                            <label for="{{ formulario.clasificacion.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.clasificacion.label }}</label>
                            {{ formulario.clasificacion }}
                            {% if formulario.clasificacio.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.clasificacion.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Detalle #}
                        <div>
                            <label for="{{ formulario.detalle.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.detalle.label }}</label>
                            {{ formulario.detalle }}
                            {% if formulario.detalle.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.detalle.errors }}</p>
                            {% endif %}
                        </div>
                    </fieldset>

                    <fieldset class="border p-4 rounded-md flex-1">
                        {# Campo Monto #}
                        <div>
                            <label for="{{ formulario.monto.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.monto.label }}</label>
                            {{ formulario.monto }}
                            {% if formulario.monto.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.monto.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Moneda #}
                        <div>
                            <label for="{{ formulario.moneda.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.moneda.label }}</label>
                            {{ formulario.moneda }}
                            {% if formulario.moneda.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.moneda.errors }}</p>
                            {% endif %}
                        </div>
                        {# Campo Forma_Pago #}
                        <div>
                            <label for="{{ formulario.forma_pago.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ formulario.forma_pago.label }}</label>
                            {{ formulario.forma_pago }}
                            {% if formulario.forma_pago.errors %}
                                <p class="text-red-500 text-xs italic">{{ formulario.forma_pago.errors }}</p>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="mt-6 flex justify-center space-x-4">
                <button type="submit" class="btn bg-green-600 hover:bg-green-700 text-white py-2 px-6 rounded-lg font-medium flex items-center">
                    <i class="fas fa-save mr-2"></i> Guardar Movimientos
                </button>
            </div>
        </form>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const tipoSelect = document.getElementById('{{ formulario.tipo.id_for_label }}');
            const clasificacionSelect = document.getElementById('{{ formulario.clasificacion.id_for_label }}');

            tipoSelect.addEventListener('change', function() {
                const tipo = this.value;
                clasificacionSelect.innerHTML = '<option value="">Cargando...</option>';

                if (!tipo) {
                    clasificacionSelect.innerHTML = '<option value="">Seleccione un Tipo</option>';
                    return;
                }

                const url = `{% url 'get_classifications_for_type' '0' %}`.replace('0', tipo);
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        clasificacionSelect.innerHTML = '<option value="">---------</option>';
                        data.classifications.forEach(c => {
                            clasificacionSelect.add(new Option(c, c));
                        });
                    });
            });
        });
        </script>
{% endblock contenido %}



